<div class="container">

    <div class="row">
<div class="card col-md-5" style="width: 18rem;" *ngFor=" let hotel of hoteles">
  <button class="btn btn-danger" (click)="deleteHotel(hotel.id_hotel)"> Borrar</button>
  <app-foto></app-foto>
    <div class="card-body">
      
      <h3 class="card-title">  {{hotel.HotelName}}</h3>
      <p class="card-text"> Noche: ${{hotel.Precio}}</p>
      <p class="card-text">Categoria: {{hotel.CategoriaDescripcion}}</p>
      <a [routerLink]="['/hoteles/',hotel.id_hotel]" class="btn btn-primary btn-block">ver más</a>
      <a [routerLink]="['/hoteles/edit/',hotel.id_hotel]" class="btn btn-info btn-block">editar</a>
    </div>
  </div>
</div>
</div>
